<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>

<header th:replace="fragments :: navigator"></header>

<div class="container">
    <div class="row col-md-12 list-container" th:if="${foundIngredients != null}">
        <div class="row col-md-12">
            <h1>Ingredient list</h1>
        </div>
        <div class="row col-md-12 list-header-row">
            <div class="col-md-2">Image</div>
            <div class="col-md-1">Qty</div>
            <div class="col-md-1">Unit</div>
            <div class="col-md-2">Food</div>
            <div class="col-md-2">Energy</div>
            <div class="col-sm-2">Nutrients</div>
            <div class="col-sm-2">Actions</div>
        </div>

        <div class="row col-md-12 list-result-row" th:each="ingredient : ${foundIngredients}">
            <div class="col-md-2 frame">
                <img class="img" th:if="${ingredient.getImageUrl() == null}" th:src="@{/images/food.png}"/>
                <img class="img" th:unless="${ingredient.getImageUrl() == null}"
                     th:src="@{${ingredient.getImageUrl()}}"/>
            </div>
            <div class="col-md-1" th:text="${ingredient.getQuantity()}"></div>
            <div class="col-md-1" th:text="${ingredient.getUnit()}"></div>
            <div class="col-md-2" th:text="${ingredient.getName()}"></div>
            <div class="col-md-2" th:text="${ingredient.getCalories() + ' kcal'}"></div>
            <div class="col-md-2">
                <p th:text="'Protein: ' + ${ingredient.getProtein() + ' g'}"></p>
                <p th:text="'Fat: ' + ${ingredient.getFat() + ' g'}"></p>
                <p th:text="'Carbs: ' + ${ingredient.getCarbs() + ' g'}"></p>
                <p th:text="'Fiber: ' + ${ingredient.getFiber() + ' g'}"></p>
            </div>
            <div class="row col-md-2">
                <div class="col-md-12">
                    <a th:href="@{/ingredients/add/{foodId}(foodId=${ingredient.getFoodId()})}">
                        <button type="button" class="btn btn-primary">Save</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: footerscripts"></div>
</html>
