<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>

<header th:replace="fragments :: navigator"></header>
<div class="container-fluid">
        <div class="form-container">
            <form class="col-md-12" th:action="@{/meals/addIngredient}" method="post">
                <h1 th:text="${'Assign ingredients to ' + meal.getMealName()}"></h1>
                <input type="hidden" th:name="mealId" th:value="${meal.getId()}">

                <div class="row col-md-12 form-meal-ingredient">
                    <div class="col-md-3">
                        <label>Meal</label>
                        <p class="form-control col-md-12" th:text="${meal.getMealName()}">
                    </div>
                    <div class="col-md-4">
                        <label>Date</label>
                        <p class="form-control col-md-12" th:text="${meal.getDate()}">
                    </div>
                    <div class="col-md-5">
                        <label>Ingredients</label>
                        <select class="form-control col-md-12" th:name="ingredientId" id="ingredient">
                            <option th:each="ingredient : ${ingredients}"
                                    th:text="${ingredient.getName() + ': ' + ingredient.getQuantity() + 'g - ' + ingredient.getCalories() + ' kcal'}"
                                    th:value="${ingredient.getId()}">
                            </option>
                        </select>
                    </div>
                    <div class="row col-md-8 meal-action-button">
                        <div class="col-md-6 form-row-buttons">
                            <button type="submit" class="btn btn-success col-md-10 find-button">Add</button>
                        </div>
                        <div class="col-md-6 form-row-buttons">
                            <a th:href="@{/meals/list}">
                                <button type="button" class="btn btn-primary col-md-10 find-button">Back</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 10px" th:if="${meal.getIngredients() != null and !meal.getIngredients().isEmpty()}">
                    <div class="row col-md-12 list-header-row">
                        <div class="col-md-2">Image</div>
                        <div class="col-md-2">Food</div>
                        <div class="col-md-1">Energy</div>
                        <div class="col-md-5">Nutrients</div>
                        <div class="col-md-2">Actions</div>
                    </div>

                    <div class="row col-md-12 list-result-row align-items-center"
                         th:each="ingredient : ${meal.getIngredients()}">
                        <div class="col-md-2">
                            <img class="img" th:if="${ingredient.getImageUrl() == null}" th:src="@{/images/food.png}">
                            <img class="img" th:unless="${ingredient.getImageUrl() == null}"
                                 th:src="@{${ingredient.getImageUrl()}}">
                        </div>
                        <div class="col-md-2"
                             th:text="${ingredient.getName() + ' ' + ingredient.getQuantity() + ingredient.getUnit()}"></div>
                        <div class="col-md-1" th:text="${ingredient.getCalories() + ' kcal'}">
                        </div>
                        <div class="col-md-5 list-ingredients">
                            <div class="row col-md-12 list-ingredients">
                                <div class="col-md-6 list-ingredients">
                                    <p th:text="'Protein: ' + ${ingredient.getProtein() + 'g'}"></p>
                                    <p th:text="'Fat: ' + ${ingredient.getFat() + 'g'}"></p>
                                </div>
                                <div class="col-md-6 list-ingredients">
                                    <p th:text="'Carbs: ' + ${ingredient.getCarbs() + 'g'}"></p>
                                    <p th:text="'Fiber: ' + ${ingredient.getFiber() + 'g'}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 list-action-buttons align-items-center">
                            <div class="col-md-12 list-action-buttons">
                                <div class="col-md-12 list-action-buttons">
                                    <a th:href="@{'/ingredients/edit/' + ${ingredient.getId()}}">
                                        <button type="button" class="btn btn-primary find-button col-md-12 btn-sm">Edit</button>
                                    </a>
                                </div>
                                <div class="col-md-12 list-action-buttons">
                                    <a th:href="@{'/meals/ingredient/remove/'+ ${ingredient.getId()} + '/' + ${meal.getId()}}">
                                        <button type="button" class="btn btn-danger find-button col-md-12 btn-sm">Remove
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: footerscripts"></div>
</html>
